# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore cache org files
*.org~

# Ignore object files
*.o

# Ignore serialized objects
*.dat

# Inore txt files
*.txt

node_modules/
