# Ignore all
*

# Unignore all with extensions
!*.*

# Unignore all dirs
!*/

# Ignore cache org files
*.org~

# Ignore object files
*.o

# Ignore serialized objects
*.dat

# Inore txt files
*.txt

node_modules/
dist/
coverage

/tests/e2e/reports/
selenium-debug.log
chromedriver.log
geckodriver.log

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
