#app {
	height: 100%;
	display: flex;
	overflow-y: hidden;
}

#nav-bar {
	display: flex;
}

#router {
	width: 100%;
	overflow-y: auto;
}

@media (max-width: 900px) {
	#app {
		flex-flow: column nowrap;
	}
}
