#appointment-section {
	display: flex;
	flex-flow: row nowrap;
}

#appointment-container {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
}

#appointment-container > h3 {
	margin: 0 2px 0 2px;
}

.done {
	text-decoration: line-through;
}

#notes-title-container {
	display: flex;
	margin-top: 2px;
}

#notes-title-container > * {
	margin-right: 2px;
}
