#user-form {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 50px;
}

.stay-logged-in {
	margin: auto;
	text-align: center;
}

.form-button {
	margin-top: 20px;
}

.message {
	width: 75%;
	margin: auto;
	text-align: center;
}
