.appointments-list-comp {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.appointments-list {
	display: flex;
	flex-flow: column;
	align-items: center;
}

.hour-container {
	display: flex;
	flex-flow: row nowrap;
	margin: 1px 0 1px 0;
	padding: 20px;
	width: 100%;
}

.hour-container > span {
	margin-right: 50px;
}

.hour-container > .hour {
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
}

.hour-container > .hour > * {
	margin: 0 5px 0 5px;
}

@media all and (min-width: 1000px) {
	.appointments-list {
		width: 60%;
	}
}

@media all and (max-width: 999px) {
	.appointments-list {
		width: 75%;
	}
}

@media all and (max-width: 750px) {
	.appointments-list {
		width: 100%;
	}
}
