#error-message {
	width: max-content;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: center;
	border: 2px solid #BC243C;
	border-radius: 5px;
	padding: 5px;
	margin-top: 2vh;
	margin-left: auto;
	margin-right: auto;
}

#message {
	width: min-content;
}
