#pet-profile > * {
	margin: 0 10vw 0 10vw;
}

#pet-header {
	display: flex;
	flex-flow: row nowrap;
	justify-content: flex-start;
	align-items: center;
}

#pet-header > * {
	margin: 0 1vw 0 1vw;
}

#pet-profile-picture-container {
	display: flex;
	flex-flow: column nowrap;
	align-items: center;
}

#pet-profile-picture {
	margin-top: 1vh !important;
	margin-bottom: 1vh !important;
	border-radius: 50%;
	width: 250px;
	height: 250px;
}

@media all and (max-width: 500px) {
	.pet-profile-picture {
		width: 150px;
		height: 150px;
	}
}
